# General
*.log
*.cache
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db

# Composer
/vendor/

# Environment files
.env
.env.local
.env.*.local

# PHPStorm
.idea/
*.iml

# Docker
docker-compose.override.yml
.docker

# SQLite database
*.sqlite


# PHPUnit
phpunit.xml.dist
/build/
/coverage/

# Logs and cache
logs/*

# Other
.vscode/
